#console-modal {
  @include borderRadius;
  left: 16%;
  width: 60%;
  padding: 5px 50px;
  top: 100px;
  z-index: 100;
  background: $primaryColor;
  position: fixed;
  color: $white;
  min-height: 60px;
  p {
    position: relative;
    top: 10px;
    text-align: center;
  }
  button {
    color: $white;
    background: $red;
    @include borderRadius;
    font-weight: bold;
    padding-bottom: 5px;
    position: absolute;
    right: 5px;
  }
}