#signin-page {
  min-height: 100vh;
  background: $white;
  .sign-in {
    @include boxShadow($shadowColor);
    position: relative;
    background: $primaryLight;

    top: 20vh;
    // border: 2px solid $primaryColor;
    padding: $padding;
    @include borderRadius;
    @include center(50%);
    .form-group {
      color: $primaryColor;
      padding: 5px;
      margin: 2px;
    }
    div > h3 {      
      text-shadow: 1px 1px 2px $primaryColor;
      @include center(40%);
      text-align: center;
      color: $primaryColor;
    }
    div input {
      @include center(80%);
      @include borderRadius;
      border: none;
      @include boxShadow($shadowColor);
      padding: 5px;
    }
    input[type=submit] {
      @include center(50%);
      background-color: $primaryColor;
      color: $white;
      transition: all 0.3s ease-out;
    }
    input[type=submit]:hover {
      color: invert($color: #fff);
      @include padding(7px);
    }
    a[href*=signup] {
      text-decoration: none;
    }
    a[href*=signup]:hover {
      text-decoration: underline;
    }
  }
}
