#signup-page {
  min-height: 100vh;
  background: $white;
  .back-link_div {
    position: relative;
    width: 70px;
    top: 20px;
    left: 20px;
    padding: 7px 10px;
    @include boxShadow($ambientBlack);
    background: $primaryLight;
    @include borderRadius;
    a {
      @include center(90%);
      text-decoration: none;
      // padding: 20px 20px;
      color: $primaryColor;
    }
  }
  .sign-up {
    @include boxShadow($ambientBlack);
    background: $primaryLight;
    position: relative;
    top: 70px;
    padding: $padding;
    @include borderRadius;
    @include center(50%);
    .form-group {
      color: $primaryColor;
      padding: 5px;
      margin: 2px;
    }
    div > h3 {
      @include center(40%);
      text-shadow: 1px 1px 2px $primaryColor;
      text-align: center;
      color: $primaryColor;
    }
    div input {
      @include center(80%);
      @include borderRadius;
      border: none;
      @include boxShadow($ambientBlack);
      padding: 6px 10px;
    }
    input[type=submit] {
      @include center(50%);
      background-color: $primaryColor;
      color: $white;
    }
  }
}
