#todos-container {
  min-height: 90vh;
  background: $white;
  padding: $padding;
  > div {
    width: 100%;
    h3 {
      @include center(80%);
      text-align: center;
    }
  }
  #todo-form_control {
    padding: 5px;
    @include center(90%);
    margin: 0;
    margin-bottom: 50px;
    margin-top: 20px;
    #toggle-todo-form_div {
      position: relative;
      width: 100%;
      button {
        border: none;
        color: $primaryColor;
        @include boxShadow($shadowColor);
        padding: $padding;
        position: absolute;
        right: 10px;
        border-radius: $borderRadius;
        transition: all 0.3s ease-out;
      }
      button:hover {
        border: 1px solid $primaryColor;
        padding: 7px;
      }
    }
    #todo-form_container {
      @include boxShadow($shadowColor);
      background: transparentize($color: $primaryColor, $amount: 0.8);
      border-top-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      padding: 5px;
      @include center(60%);
      form {
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
        padding-top: 0;
        .form-header h3 {
          color: $black;
        }
        div.form-group {
          margin: 3px;
          > input {
            position: relative;
            caret-color: $primaryColor;
            @include center(80%);
            @include borderRadius;
            padding: 5px;
          }
          > button {
            @include center(60%);
            background-color: $primaryColor;
            @include borderRadius;
            color: $white;
            margin-top: 10px;
            padding: 5px 0;
            transition: all 0.3s ease-out;
          }
          > button:hover {
            border: 1px solid $primaryColor;
            padding: 7px;
            color: invert($color: #fff)
          }
          fieldset {
            margin-top: 5px;
            @include borderRadius;
            width: 80%;
            input {
              @include borderRadius;
              margin: 5px;
              padding: 3px;
              width: 60%;
            }
          }
        }
      }
    }
  }
  ul .todo {
    border-radius: $borderRadius;
    background: $primaryLight;
    padding: 2px $padding;
    padding-left: 10px;
    margin-bottom:10px;
    width: 90%;
    min-height: 20px;
    @include center (90%, '');
    @include boxShadow($shadowColor);
    li {
      list-style: none;
    }
    .todo-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .mini-todo-content {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        .todo-bar_title {
          padding: 3px;
          padding-top: 12px;
          font-weight: bold;
          color: $primaryColor;
        }
      }
      button {
        @include button(50px, $white, $primaryColor);
        border-radius: $borderRadius;
        height: 25px;
        transition: all 0.3s ease-out;
      }
      button:hover {
        border: 1px solid $primaryColor;
        color: invert($color: $white)
      }
    }
    .todos {
      h3 {
        top: -30px;
        color: $primaryColor;
      }
      p {
        text-align: justify;
        position: relative;
        top: -30px;
      }
      #links-div {
        position: relative;
        top: -25px;
        strong {
          color: $black
        }
        a {
          text-decoration: none;
          color: $blue;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      #deadline {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 50px;
        width: 30%;
        top: -10px;
        margin-bottom: 10px;
        padding: 3px;
        >div div {
          margin-top:3px;
        }
      }
      #edit-deadline {
        position: relative;
        top: 13px;
      }
      #calendar {
        position: relative;
        top: -35px;
        margin: 0px;
        > div {
          position: relative;
          top: 5px;
        }
      }
      #calendar > :nth-child(1) {
        margin-top: 2px;
        height: 26px;
        #month-year {
          position: relative;
          margin-top: 0px;
          top: -3px;
        }
      }
      #check-complete {
        position: relative;
        top: -15px;
      }
      margin-bottom: 10px;
      input {
        @include borderRadius;
        padding: 5px 3px;
      };
      #editing {
        @include margin;
      }
      .editing#links-div {
        margin-top: 30px;
        button {
          margin-right: $margin;
        }
        button:hover {
          color: $white;
          background-color: $red;
          @include borderRadius;
          padding: 3px 7px;
        }
      }
      fieldset {
        margin-top: 5px;
        margin-bottom: 10px;
        @include borderRadius;
        width: 80%;
        input {
          @include borderRadius;
          margin: 5px;
          padding: 3px;
          width: 60%;
        }
        button:hover {
          background-color: $green;
          color: $white;
          @include boxShadow($gray);
          @include borderRadius;
          @include padding;
        }
      }
      button[class^=delete] {
        @include button(50px, $white, $red);
        border-radius: $borderRadius;
        height: 25px;
        transition: all 0.3s ease-out;
      }
      button[class^=edit] {
        @include button(50px, $white, $primaryColor);
        border-radius: $borderRadius;
        height: 25px;
        transition: all 0.3s ease-out;
      }

      button[class~=save-todo-update] {
        @include button(50px, $white, $green);
        border-radius: $borderRadius;
        height: 25px;
        transition: all 0.3s ease-out;
      }
      button.main-action:hover {
        padding: 7px;
        color: invert($color: #fff)
      }
    }
  }
}
