#todos-container {
  min-height: 90vh;
  background: $primaryLight;
  padding: $padding;
  > div {
    width: 100%;
    h3 {
      @include center(80%);
      text-align: center;
      color: $primaryColor;
    }
  }
  #todo-form_control {
    padding: 5px;
    @include center(90%);
    margin: 0;
    margin-bottom: 50px;
    margin-top: 20px;
    #toggle-todo-form_div {
      position: relative;
      width: 100%;
      button {
        border: none;
        color: $primaryColor;
        @include boxShadow($primaryColor);
        padding: $padding;
        position: absolute;
        right: 10px;
        border-radius: $borderRadius;
      }
    }
    #todo-form_container {
      @include boxShadow($primaryColor);
      background: transparentize($color: $primaryColor, $amount: 0.8);
      padding: 5px;
      @include center(60%);
      form {
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
        padding-top: 0;
        .form-header h3 {
          color: $black;
        }
        div.form-group {
          margin: 3px;
          > input {
            position: relative;
            caret-color: $primaryColor;
            @include center(80%);
            @include borderRadius;
            padding: 5px;
          }
          > button {
            @include center(60%);
            background-color: $primaryColor;
            @include borderRadius;
            color: $white;
            margin-top: 10px;
            padding: 5px 0;
          }
          input[disabled][type=submit], button[disabled][type=button] {
            color: $black;
          }
          fieldset {
            margin-top: 5px;
            @include borderRadius;
            width: 80%;
            input {
              @include borderRadius;
              margin: 5px;
              padding: 3px;
              width: 60%;
            }
          }
        }
      }
    }
  }
  ul .todo {
    border-radius: $borderRadius;
    padding: 2px $padding;
    padding-left: 10px;
    margin-bottom:10px;
    width: 90%;
    min-height: 20px;
    @include center (90%, '');
    @include boxShadow($primaryColor);
    li {
      list-style: none;
    }
    .todo-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .mini-todo-content {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        .todo-bar_title {
          padding: 3px;
          padding-top: 12px;
        }
      }
      button {
        @include button(50px, $white, $primaryColor);
        border-radius: $borderRadius;
        height: 25px
      }
    }
    .todos {
      margin-bottom: 10px;
      input {
        @include borderRadius;
        padding: 5px 3px;
      };
      fieldset {
        margin-top: 5px;
        margin-bottom: 10px;
        @include borderRadius;
        width: 80%;
        input {
          @include borderRadius;
          margin: 5px;
          padding: 3px;
          width: 60%;
        }
      }
      button[class^=delete] {
        @include button(50px, $white, $red);
        border-radius: $borderRadius;
        height: 25px
      }
      button[class^=edit] {
        @include button(50px, $white, $primaryColor);
        border-radius: $borderRadius;
        height: 25px;
      }

      button[class~=save-todo-update] {
        @include button(50px, $white, $green);
        border-radius: $borderRadius;
        height: 25px;
      }
    }
  }
}
