node_modules
.env
public/*
!public/profilePhotos/default-profile.png
!public/backgroud-image.jpg
!public/uploads/
.ebextensions
.elasticbeanstalk
eb-tododer.zip
terraform
.vscode/
public/.DS_Store

tql-gcp-terraform.json
tf-aws/terraform.tfstate.backup
tf-aws/terraform.tfstate
tf-aws/.terraform.lock.hcl
tf-aws/.terraform
tf-aws/envfile
