node_modules
.env
public/*
!public/profilePhotos/default-profile.png
!public/backgroud-image.jpg
!public/uploads/
.ebextensions
.elasticbeanstalk
eb-tododer.zip
terraform
.vscode/
public/.DS_Store

tql-gcp-terraform.json
tf-aws/terraform.tfstate.backup
tf-aws/terraform.tfstate
tf-aws/.terraform.lock.hcl
tf-aws/.terraform
tf-aws/envfile

tf-aws/devars.tfvars-e
tf-aws/userdata-db.sh-e
tf-aws/userdata-jenkins.sh-e
tf-aws/userdata-jump.sh-e
tf-aws/userdata-lb.sh-e
tf-aws/userdata-metrics.sh-e
tf-aws/userdata-storage.sh-e
tf-aws/userdata.sh-e
docker-helper.sh-e
