@import 'abstracts/variables';
@import 'abstracts/functions';

@import 'components/button';
@import 'components/home';
@import 'components/signup';
@import 'components/signin';
@import 'components/logininline';
@import 'components/navbar';
@import 'components/todos';
@import 'components/consoleModal';

body {
  margin: 0;
  color: $black;
  input[disabled][type=submit]{
    color: $black;
  }
  span[class=requiredFields] {
    color: $red;
  }
  background: $white;
}
@include toggleElementDisplay;
@include toggleElementVisibility;
