@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/helpers';

@import 'components/button';
@import 'components/home';
@import 'components/signup';
@import 'components/signin';
@import 'components/logininline';
@import 'components/navbar';
@import 'components/todos';
@import 'components/consoleModal';
@import 'components/profile';
body {
  margin: 0;
  color: $black;
  font-family: 'sans-serif, Arial Narrow', Arial;
  input[disabled][type=submit], button[disabled]{
    opacity: 0.6;
  }
  span[class=requiredFields] {
    color: $red;
  }
  background: $white;
}
@include toggleElementDisplay;
@include toggleElementVisibility;
