$primaryColor: #aeae12;
$primaryLight: #f3f3ed;
// #f3f3d9
$borderRadius: 5px;
$padding: 5px;
$margin: 5px;
// $primaryLight: #ffffff;
$white: #ffffff;
$red: rgb(233, 99, 99);
$black: rgb(91, 91, 94);
$ambientBlack: rgba(0, 0, 0, .4);
$green: rgb(66, 155, 63);
$blue: rgb(69, 72, 236);
$blueLight: rgba(46, 49, 235, .7);

$gray: #ddd;
$primaryColor: $blue;
$primaryLight: #f3f3ed;
$shadowColor: $gray;

